<html>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" placeholder="Coloque o titulo do Livro"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" name="preco" placeholder="Coloque o Preço do Livro"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" name="descricao" placeholder="Coloque a descrição do Livro"> </textarea>
            </div>
            <input type="submit" value="gravar">
        </form>
    </body>
</html>